@model TinyCrm.Core.Model.Customer

<form method="post" class="js-customer-edit-form">
    <h2>Edit info</h2>
    <br />

    <!-- Firstname-->
    <div class="form-group">
        <label for="firstName">First name</label>
        <input name="firstName" placeholder="Enter your first name"
               class="js-firstname form-control" value="@Model.Firstname">
    </div>

    <!-- Lastname -->
    <div class="form-group">
        <label for="lastName">Last name</label>
        <input class="js-lastname form-control" value="@Model.Lastname">
    </div>

    <!-- VatNumber -->
    <div class="form-group">
        <label for="vatNumber">Vat number</label>
        <input class="js-vatnumber form-control" value="@Model.VatNumber">
    </div>

    <!-- Submit -->
    <button type="button" class="btn btn-primary js-button">
        Submit
    </button>

    <div class="alert alert-success js-success-alert" role="alert">
    </div>

    <div class="alert alert-danger js-fail-alert" role="alert">
        Customer could not be updated
    </div>

</form>
