
@{
    ViewData["Title"] = "AddCustomer";
}




        <h1 align="center">Add Customer</h1>

        <form>
            <table align="center">
                <tr><td>FirstName	</td>  <td><input type="text" id="FirstName" name="FirstName">	</td>  </tr>
                <tr><td>LastName	</td>  <td> <input type="text" id="LastName" name="LastName">	</td>  </tr>
                <tr><td>Vatnumber	</td>  <td> <input type="text" id="Vatnumber" name="Vatnumber">	</td>  </tr>

                <tr align="center"> <td colspan="2">    <input type="button" onclick="addCustomer()" value="Submit"> </td>  </tr>
            </table>

        </form>

        <div id="responseDiv">   </div>






